<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<form wicket:id="yesNoForm" action="">
		<span wicket:id="message">Are you sure?</span>
		
		<table align="center">
        	<tr>
            	<td align="center">
            		<input type="submit" wicket:id="noButton" value="No" />
				</td>
				<td align="center">
					<input type="submit" wicket:id="yesButton" value="Yes" />
				</td>
			</tr>
		</table>
	</form>
</wicket:panel>