<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="5%">
				<wicket:message	key="upload.id">Upload ID</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="upload.filename">Name</wicket:message>
			</th>
			<th width="5%">
				<wicket:message	key="upload.fileFormat">File Format</wicket:message>
			</th>
			<th width="5%">
				<wicket:message	key="upload.userId">Uploaded By</wicket:message>
			</th>
			<th width="5%">
				<wicket:message	key="upload.startTime">Start Time</wicket:message>
			</th>
			<th width="5%">
				<wicket:message	key="upload.finishTime">Finish Time</wicket:message>
			</th>
			<th width="20%" colspan="2">
				<input wicket:id="downloadTemplateField" type="button" value="Download Custom Field Template" /><br/>
				<input wicket:id="downloadTemplateCategory" type="button" value="Download Custom Field Category Template " />
			</th>
			<th width="22%">
				<wicket:message	key="upload.uploadStatusName">Upload Status</wicket:message>				
			</th>
			<th width="2%">&nbsp;</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="resultList">
			<td width="2%">&nbsp;</td>
			<td width="5%">
				<span wicket:id="upload.id">ID</span>&nbsp;
			</td>
			<td width="15%">
			  	<span wicket:id="upload.filename">Filename</span>
			</td>
			<td width="5%">
				<span wicket:id="upload.fileFormat">File Format</span>
			</td>
			<td width="5%">
				<span wicket:id="upload.userId">Uploaded By</span>
			</td>
			<td width="5%">
				<span wicket:id="upload.startTime">Start Time</span>
			</td>
			<td width="5%">
				<span wicket:id="upload.finishTime">Finish Time</span>
			</td>
			<td width="10%">
			  	<input wicket:id="downloadFile" type="submit" wicket:message="value:button.downloadFile" />&nbsp;
			</td>
			<td width="10%">
				<input wicket:id="downloadReport" type="submit" wicket:message="value:button.downloadReport" />&nbsp;
			</td>
			<td width="22%">
				<span wicket:id="upload.uploadStatus.name">Upload Status</span>
			</td>
			
			<td width="2%">&nbsp;</td>
		</tr>
		<!--  The navigation bar -->
		<tfoot>
			<tr>
				<td width="2%">&nbsp;</td>
				<td width="96%" align="left" colspan="9"><span wicket:id="navigator" class="a"></span></td>
				<td width="2%">&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>