<wicket:panel>
	&nbsp;
	<!-- Page Left Zone -->
	<div class="leftZone">
		&nbsp;
	</div>
	<!-- Page right Zone -->
	<div class="rightZone">
		&nbsp;
	</div>
	<!-- Content Zone -->
	<div class="contentZone">
		<span wicket:id="detailFeedback">
		</span>

		<div wicket:id="subjectDetailPanel">
			[Subject detail]
		</div>

		<form wicket:id="biospecimenModalDetailForm">
			<div class="detailsPanelBorder">
				<div wicket:id="detailFormContainer">
					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<!-- Row 1 ID and Name-->

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.id">
							Biospecimen ID:
						</wicket:message>
					</div>

					<div class="fldControl">
						<div class="label">
							<input wicket:id="biospecimen.id" type="text" />
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<label for="name">
								<wicket:message key="biospecimen.biospecimenUid">
									Biospecimen UID:
								</wicket:message>
							</label>
						</div>
						<div class="label">
							<label for="name">
								<wicket:message key="biospecimen.parentUid">
									Parent UID:
								</wicket:message>
							</label>
						</div>
					</div>
					<div class="fldControl">
						<div class="label">
							<input wicket:id="biospecimen.biospecimenUid" type="text" />
						</div>
						<div class="label">
							<input wicket:id="biospecimen.parentUid" type="text" />
						</div>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<label for="biospecimen.sampleType">
								<wicket:message key="biospecimen.sampleType">
									Sample Type:
								</wicket:message>
							</label>
						</div>
					</div>
					<div class="fldControl">
						<div class="label">
							<select wicket:id="biospecimen.sampleType">
								<option>
									1
								</option>
								<option>
									2
								</option>
							</select>
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<label for="biospecimen.bioCollection">
								<wicket:message key="biospecimen.bioCollection">
									Collection:
								</wicket:message>
							</label>
						</div>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.bioCollection">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.sampleDate">
							Sample Date:
						</wicket:message>
					</div>

					<div class="fldControl">
						<input wicket:id="biospecimen.sampleDate"	type="text" maxLength="10"/>
						<div class="note">
							<a href="#" wicket:id="useCollectionDate">
								<wicket:message	key="useCollectionDate">
								</wicket:message>
							</a>
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.sampleTime">
							Sample Time:
						</wicket:message>
					</div>

					<div class="fldControl">
						<span wicket:id="biospecimen.sampleTime">
						</span>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.processedDate">
							Processed Date:
						</wicket:message>
					</div>

					<div class="fldControl">
						<input wicket:id="biospecimen.processedDate" type="text" maxLength="10"/>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.processedTime">
							Processed Time:
						</wicket:message>
					</div>

					<div class="fldControl">
						<span wicket:id="biospecimen.processedTime">
						</span>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.comments">
							Comments:
						</wicket:message>
					</div>

					<div class="fldControl">
						<div class="label">
							<textarea wicket:id="biospecimen.comments" cols="25">
							</textarea>
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="labelTop">
							<wicket:message key="biospecimen.barcodeLabel">
								Barcode:
							</wicket:message>
						</div>
						<div class="labelBottom">
							<wicket:message	key="biospecimen.barcoded">
								Barcoded:
							</wicket:message>
							<div class="note">
								<wicket:message	key="biospecimen.barcoded.note">
									[Note replaced from properties]
								</wicket:message>
							</div>
						</div>
					</div>

					<div class="fldControl">
						<div class="controlTop">
							<img wicket:id="biospecimen.barcodeImage" width="20px" height="20px"/>
						</div>
						<div class="controlBottom">
							<input type="checkbox" wicket:id="biospecimen.barcoded"/>
						</div>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.grade">
							Grade:
						</wicket:message>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.grade">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.storedIn">
							Stored In:
						</wicket:message>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.storedIn">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.anticoag">
							Anticoagulant:
						</wicket:message>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.anticoag">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.status">
							Status:
						</wicket:message>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.status">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>
					
					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.biospecimenProtocol">
							Protocol:
						</wicket:message>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.biospecimenProtocol">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.purity">
							Purity:
						</wicket:message>
					</div>

					<div class="fldControl">
						<input wicket:id="biospecimen.purity" type="text" />
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<wicket:message key="biospecimen.quality">
							Quality:
						</wicket:message>
					</div>

					<div class="fldControl">
						<select wicket:id="biospecimen.quality">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<!-- Empty -->

					<div class="detailPanelBreaker">
						&nbsp;
					</div>
					
					<div class="detailSectionBorder">
						<div class="customFieldDataPanel">
							<!-- Biospecimen custom field data entry -->
							<div wicket:id="biospecimenCFDataEntryPanel">
							</div>
						</div>
					</div>

					<div class="detailSectionBorder">
						<!-- Initial Biospecimen transaction detail -->
						<div wicket:id="bioTransactionDetailWmc">
							<div class="panelContentLeft">
								&nbsp;
							</div>
							
							<wicket:enclosure child="parentBiospecimen.quantity">
								<div class="fldLabel">
									<span wicket:id="parentBiospecimen.quantity.label">
										[Parent Quantity]
									</span>
									<span wicket:id="parentBiospecimen.quantity.max">
										[Parent Quantity max]
									</span>
								</div>
								
								<div class="fldControl">
									<input wicket:id="parentBiospecimen.quantity" type="text" maxLength="10" size="5"/>
								</div>
							</wicket:enclosure>
							
							<div class="detailPanelBreaker">
								&nbsp;
							</div>
		
							<div class="panelContentLeft">
								&nbsp;
							</div>

							<div class="fldLabel">
								<span wicket:id="biospecimen.quantity.label">
									[Quantity]
								</span>
								<span id="note" wicket:id="biospecimen.quantity.note">
									[Note replaced from properties]
								</span>
							</div>

							<div class="fldControl">
								<input wicket:id="biospecimen.quantity" type="text" maxLength="10" size="5"/>
								<input wicket:id="bioTransaction.quantity" type="text" maxLength="10" size="5"/>
								<select wicket:id="biospecimen.unit">
									<option>
										1
									</option>
									<option>
										2
									</option>
								</select>
							</div>
						</div>
							<div class="panelMargin">
								&nbsp;
							</div>

							<div class="fldLabel">
								<wicket:message key="biospecimen.treatmentType">
									Treatment:
								</wicket:message>
							</div>

							<div class="fldControl">
								<select wicket:id="biospecimen.treatmentType">
									<option>
										1
									</option>
									<option>
										2
									</option>
								</select>
							</div>
						
						
						<div class="detailPanelBreaker">
							&nbsp;
						</div>
	
						<div class="panelContentLeft">
							&nbsp;
						</div>
	
						<div class="fldLabel">
							<wicket:message key="biospecimen.concentration">
								Concentration:
							</wicket:message>
						</div>
	
						<div class="fldControl">
							<input wicket:id="biospecimen.concentration" type="text" maxLength="10" size="5"/>
						</div>
						
						<div class="panelMargin">
							&nbsp;
						</div>

						<div class="fldLabel">
							<wicket:message key="biospecimen.amount">
								Amount:
							</wicket:message>
						</div>

						<div class="fldControl">
							<span wicket:id="biospecimen.amount"></span>
						</div>

						<!-- Transaction detail -->
						<div class="detailPanel">
							<!-- Biospecimen transaction detail -->
							<div wicket:id="bioTransactionListPanel">
							</div>
						</div>
					</div>

					<div class="detailSectionBorder">
						<div wicket:id="biospecimenLocationPanel">
						</div>
					</div>

					
				</div>
				<!-- detailFormContainer end-->

				<!--	Row 2 Action Buttons -->
				<div class="buttons">
					<div wicket:id="buttonsPanelWMC">
						<span style="display: none;" wicket:id="modal"></span>
						<div wicket:id="buttonsPanel">
						</div>
					</div>

					<div class="detailSectionBorder">
						<!-- Process/Clone/Aliquot Buttons -->
						<div wicket:id="biospecimenButtonPanel">
							[Process] | [Clone] | [Aliquot]
						</div>
					</div>
				</div>
				<!--	End buttons -->
			</div>
		</form>
		<br>
		&nbsp;
	</div>
</wicket:panel>
