<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<!--	Row 1 -->
				<div class="fldLabel">
					<div class="label">
						<label for="phenoDataSetGroup.name">
							<wicket:message key="phenoDataSetGroup.name">
								Questionnaire name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="phenoDataSetGroup.name" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="phenoDataSetGroup.description">
							<wicket:message key="phenoDataSetGroup.description">
								Description:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<textarea wicket:id="phenoDataSetGroup.description" cols="25" maxLength="1000">
						</textarea>
					</div>
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
					<div class="fldLabel">
					<div class="label">
						<label for="phenoDataSetGroup.status">
							<wicket:message key="phenoDataSetGroup.status">
								Questionnaire Status:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input type="checkbox" wicket:id="phenoDataSetGroup.published"/>
					</div>
				</div>
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			<!-- All the categories were brought in to this place for grouping. -->		
				<div wicket:id="phenoDataSetListchoiceCategoryDetailWMC">
					<div class="detailSubForm">
						<div class="detailPanelBreaker">
							&nbsp;
						</div>
						<div class="panelContentLeft">
							&nbsp;
						</div>
						<div class=fldListMultipleChoice>
							<div class="headerAv">
								<wicket:message	key="availableCategories">
									Available	PhenoCategories:
								</wicket:message>
							</div>
								<select wicket:id="phenoDataSetCategoryLst" class="listMultipleSize"></select>
							<div class="footerAv">
							</div>
						</div>
						<div class="fldListMultipleChoiceButton">
							<div class="headerAv">
							</div>	
								<div class="buttonsDoublePhenoCatFilter">
											<input wicket:id="addButtonCategory" type="button" class="buttonPhenoCatFilter addMe" />
											<input wicket:id="removeButtonCategory" type="button" class="buttonPhenoCatFilter removeMe" />
								</div>
								<div class="footerAv">
								</div>
						</div>
						<div class="fldListMultipleChoice">
							<div class="headerAv">
								<wicket:message	key="pickedAvailableCategories">
									Selected PhenoCategories:
								</wicket:message>
							</div>
							<select wicket:id="pickedAvailableCategories" class="listMultipleSize"></select>
							<div class="bottomButtonsPhenoCatFilter">
								<input wicket:id="upButtonCat" type="button" class="buttonPhenoCatFilter upMe" />
								<input wicket:id="downButtonCat" type="button" class="buttonPhenoCatFilter downMe" />
								<input wicket:id="leftButton" type="button" class="buttonPhenoCatFilter removeMe" />
								<input wicket:id="rightButton" type="button" class="buttonPhenoCatFilter addMe" />
							</div>
							<div class="footerAv">
								<div class="headerAv">
								<wicket:message	key="linkedAvailablePhenoDataSetFields">
									Assigned fields:
								</wicket:message>
								</div>
								<select wicket:id="linkedAvailablePhenoDataSetFields" class="listMultipleSizeSub"></select>	
								<div class="bottomButtonsPhenoCatFilter">
									<input wicket:id="upButtonField" type="button" class="buttonPhenoCatFilter upMe" />
									<input wicket:id="downButtonField" type="button" class="buttonPhenoCatFilter downMe" />
									<input wicket:id="removeButtonFieldsFromCategory" type="button" class="buttonPhenoCatFilter minusMe" />
								</div>		
							</div>
						</div>
						<div class="fldListMultipleChoiceButton">
							<div class="headerAv">
							</div>	
								<div class="buttonsSinglePhenoCatFilter">
									<input wicket:id="addButtonFieldsToCategory" type="button" class="buttonPhenoCatFilter sumMe" />
								</div>
								<div class="footerAv">
								</div>
						</div>
						<div class="fldListMultipleChoice">
							<div class="headerAv">
								<wicket:message	key="availablePhenoDataSetFields">
									Available phenoDataSetField
								</wicket:message>
							</div>
							<select wicket:id="availablePhenoDataSetFields" class="listMultipleSize"></select>
						</div>
						<div class="fldListMultipleChoiceButton">
							<div class="headerAv">
							</div>	
								<div class="buttonsSinglePhenoCatFilter">
								</div>
								<div class="footerAv">
								</div>
						</div>
						<!-- <div class="fldListMultipleChoice">
							<div class="headerAv">
								<wicket:message	key="categoryFieldSummary"></wicket:message>
							</div>
							<div wicket:id="panels" ></div>
						</div> -->
						<div class="tree">
							<div class="headerAv">
								<wicket:message	key="categoryFieldSummary"></wicket:message>
							</div>
							<div wicket:id="tree" ></div>
						</div>
					</div> 
				</div>
			<!-- End of all the categories were brought in to this place for grouping. -->
			</div>
			<!--	Row 2 Action Buttons -->
			<div wicket:id="editButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
					<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
				</div>
			</div>
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		</div>
	</form>
</wicket:panel>

