<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="5%">
				<label for="fieldId">
					<wicket:message	key="phenoDataSetGroup.id">Custom Field Group ID:</wicket:message>
				</label>
			</th>
			<th width="35%">
				<label for="fieldGroupName">
					<wicket:message	key="phenoDataSetGroup.name">Field Group Name:</wicket:message>
				</label>
			</th>
			<th width="50%">
				<label for="fieldDescription">
					<wicket:message	key="phenoDataSetGroup.description">Description:</wicket:message>
				</label>
			</th>
			<th width="6%">
				<label for="published">
					<wicket:message	key="phenoDataSetGroup.published">Published:</wicket:message>
				</label>
			</th>
			<th width="2%">&nbsp;</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="phenoDataSetGroupList">
			<td width="2%">&nbsp;</td>
			<td width="5%">
				<span wicket:id="id">100</span>
			</td>
			<td width="35%">
			  <div wicket:id="phenoDataSetGroupLinkWMC">
			    <a href="#"wicket:id="name">
			    	<span wicket:id="nameLbl">Name</span>
			    </a>
			  </div>
			</td>
			<td width="50%">
				<span wicket:id="description">Description</span>
			</td>
			<td width="6%">
				<img wicket:id="published"/>
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
		<tfoot>
			<tr>
				<td width="2%">&nbsp;</td>
				<td width="96%" colspan="4"><span wicket:id="navigator" class="a"></span></td>
				<td width="2%">&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>
