<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
		  <div wicket:id="detailFormContainer">
			<div class="detailPanelBreaker">&nbsp;</div>
			<div class="panelContentLeft">&nbsp;</div>
			<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.analysis.id">
								Id:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="analysis.id"	type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.analysis.name">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="analysis.name"	type="text" />
					</div>
				</div>
				<div class="detailPanelBreaker">&nbsp;</div>
				<div class="panelContentLeft">&nbsp;</div>
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.analysis.description">
								Description:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<textarea wicket:id="analysis.description" cols="25"></textarea>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				 
				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.analysis.microservice">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="analysis.microService">
							<option>A</option>
							<option>B</option>
						</select>
					</div>
				</div>
				
			 	 
				<div class="detailPanelBreaker">&nbsp;</div>
			
			<div class="panelContentLeft">&nbsp;</div>
			
			<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.analysis.computation">
								Description:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="analysis.computation">
							<option>A</option>
							<option>B</option>
						</select>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.analysis.datasource">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="analysis.dataSource">
							<option>A</option>
							<option>B</option>
						</select>
					</div>
				</div>
				<div class="detailPanelBreaker">&nbsp;</div>
				
				<div class="panelContentLeft">&nbsp;</div>
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.analysis.parameters">
								Parameters:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<textarea wicket:id="analysis.parameters" cols="25"></textarea>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				 
				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.analysis.result">
								Result:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="analysis.result"	type="text" />
					</div>
				</div>
			 	 
				<div class="detailPanelBreaker">&nbsp;</div>
				
				<div class="panelContentLeft">&nbsp;</div>
								
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.analysis.status">
								Description:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<span wicket:id="analysis.status"/>
					</div>
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				 
				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.analysis.jobid">
								Result:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<span wicket:id="analysis.jobId"/>
					</div>
				</div>
				
				<div class="detailPanelBreaker">&nbsp;</div>
				
				<div class="panelContentLeft">&nbsp;</div>
								
				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.analysis.jobscript">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<input wicket:id="file" type="file" />
					<a href="#" wicket:id="clearButton"><img  src="images/icons/editclear.png" /></a>
					<br>
					<b>
						<span wicket:id="analysis.scriptName">File Name</span>
					</b>
					<a href="#" wicket:id="deleteButton"><img  src="images/icons/delete.png" /></a>
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				 
				<div class="fldLabel">
					<div class="label">
						<label for="empty">
							
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						
					</div>
				</div>
				
				<div class="detailPanelBreaker">&nbsp;</div>
					
			</div>
			
			<!--  Row 2 Action Buttons -->
			
			<div wicket:id="editButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
					<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
					<input wicket:id="execute" type="submit" wicket:message="value:page.execute" />
					<input wicket:id="job" type="submit" wicket:message="value:page.job" />
					<input wicket:id="queue" type="submit" wicket:message="value:page.queue" />
					<input wicket:id="result" type="submit" wicket:message="value:page.result" />
				</div>
			</div>
		</div>
	</form>
</wicket:panel>