<wicket:panel>
	<div class="wizardStepBorder">
		<div wicket:id="header" />
		<div class="wizardStepContent"></div>
		<div wicket:id="progressPanel" align="center">
			<div wicket:id="bar">[Progress]</div>
			<div class="wizardPanelBreaker">&nbsp;</div>
		</div>
	</div>
</wicket:panel>