<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<!-- Row 1 search ID and Name -->

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="search.id">
							<wicket:message key="search.id">
								Search Id:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="search.id" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="searchName">
							<wicket:message	key="search.name">
								Name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="search.name" type="text" />
					</div>
				</div>


				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>
				 <div class="fldLabel">
					<wicket:message key="search.includeGeno">
						
					</wicket:message>
				</div>

				<div class="fldControl">
					<input type="checkbox" wicket:id="search.includeGeno" />
				</div> 

				<div class="panelMargin">
					&nbsp;
				</div>

				<!-- start row 2-->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.demographicFieldsToReturn">
								demographic Fields To Return
							</wicket:message>
							<span wicket:id="selectedDemographicFields">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<div class="fldControl">
					&nbsp;
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>


				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.subjectCustomFieldDisplaysToReturn">
								subject custom Fields To Return
							</wicket:message>
							<span wicket:id="selectedSubjectCustomFieldDisplays">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<div class="fldControl">
					&nbsp;
				</div>

				<!--	end row2 -->

				<!-- start row 3-->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.biocollectionFieldsToReturn">
								Biocollection Fields To Return
							</wicket:message>
							<span wicket:id="selectedBiocollectionFields">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<div class="fldControl">
					&nbsp;
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.biocollectionCustomFieldDisplaysToReturn">
								Biocollection custom Fields To Return
							</wicket:message>
							<span wicket:id="selectedBiocollectionCustomFieldDisplays">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<div class="fldControl">
					&nbsp;
				</div>

				<!--	end row 3-->

				<!-- start row 4-->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>


				<div class="fldLabel">
					<div class="label">
						<wicket:message	key="search.biospecimenFieldsToReturn">
							biospecimen Fields To Return
						</wicket:message>
						<span wicket:id="selectedBiospecimenFields">
							[Palette]
						</span>
					</div>
				</div>

				<div class="fldControl">
					&nbsp;
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>


				<!--	end row 4	-->

				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.biospecimenCustomFieldDisplaysToReturn">
								biospecimen custom Fields To Return
							</wicket:message>
							<span wicket:id="selectedBiospecimenCustomFieldDisplays">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<!-- start row 5-->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.phenoDataSetFieldDisplaysToReturn">
								pheno custom Fields To Return
							</wicket:message>
							<span wicket:id="selectedPhenoDataSetFieldDisplays">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<div class="fldControl">
					&nbsp;
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>
				
				<div class="fldLabel">
					<div class="label">
						<label for="applicationModules">
							<wicket:message	key="search.consentStatusFieldsToReturn">
								demographic Fields To Return
							</wicket:message>
							<span wicket:id="selectedConsentStatusFields">
								[Palette]
							</span>
						</label>
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>
				
				<!--  
				<div class="fldLabel">
					<div class="label"> 
						<input wicket:id="createFilters" type="submit" value="Create Filters" />

						<div wicket:id="detailModalWindow">
							&nbsp;
						</div>
					</div>
					<div class="note">
						<wicket:message	key="createFilters.note">
							[Note replaced from properties]
						</wicket:message>
					</div>

					<br>

					<div>
						<wicket:message	key="subjectFileUploadLabel">
							[Link Subjects from a list:]
						</wicket:message>
					</div>

					<div class="fldControl">
						<input wicket:id="subjectFileUpload" type="file" />
						<a href="#" wicket:id="clearButton"><img  src="images/icons/editclear.png" onmouseover="Clear Attachement"/></a>
					</div>
					<div class="note">
						<wicket:message	key="subjectFileUploadLabel.note">
							[Note replaced from properties]
						</wicket:message>
					</div>
					<span wicket:id="downloadSubjectList"></span>
				</div>
				-->
				
				<div class="fldLabel">
					<div class="label"> 
						<label for="applicationModules">
							<input wicket:id="createFilters" type="submit" value="Create Filters" />

							<div wicket:id="detailModalWindow">
								&nbsp;
							</div>
							<div class="note">
								<wicket:message	key="createFilters.note">
								[Note replaced from properties]
								</wicket:message>
							</div>
							<div>
								<wicket:message	key="subjectFileUploadLabel">
								[Link Subjects from a list:]
								</wicket:message>
								<input wicket:id="subjectFileUpload" type="file" />
								<a href="#" wicket:id="clearButton"><img  src="images/icons/editclear.png" onmouseover="Clear Attachement"/></a>
							</div>	
							<div class="note">
								<wicket:message	key="subjectFileUploadLabel.note">
								[Note replaced from properties]
								</wicket:message>
							</div>
							<span wicket:id="downloadSubjectList"></span>							
						</label>
					</div>
				</div>
				
				
				<!--
					div class="fldLabel"> <div class="label"> <label for="applicationModules"> <wicket:message key="search.phenoCustomFieldDisplaysToReturn">
					pheno custom Fields To Return </wicket:message> <span wicket:id="selectedPhenoCustomFieldDisplays"> [Palette] </span> </label> </div> </div>
					<div class="fldControl"> &nbsp; </div>
				-->
				<!--	end row 5-->


				<div class="detailPanelBreaker">
					&nbsp;
				</div>


				<!--
					<div class="panelContentLeft">&nbsp;</div> <div class="fldLabel"> <div class="label"> <label for="studyKey"> <wicket:message
					key="study.component.description">Description:</wicket:message> </label> </div> </div> <div class="fldControl"> <div class="label">
					<textarea wicket:id="studyComponent.description" cols="25"></textarea> </div> </div> <div class="panelMargin">&nbsp;</div> <div
					class="fldLabel"> <div class="label"> <label for="componentKeyword"><wicket:message
					key="study.component.keyword">Keyword:</wicket:message></label> </div> </div> <div class="fldControl"> <div class="label" > <textarea
					wicket:id="studyComponent.keyword" cols="25"></textarea> </div> </div>
				-->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

			</div>

			<!--	Row 2 Action Buttons -->

			<div wicket:id="editButtonContainer">
				<div class="fldLabel">
					&nbsp;
				</div>
				<div class="fldControl">
					&nbsp;
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>
				<div class="actionButtons">
					&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:page.save" />
						&nbsp;
						<div class="panelMargin">
							&nbsp;
						</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
						&nbsp;
						<div class="panelMargin">
							&nbsp;
						</div>
						<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
					</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
