<wicket:panel>
	&nbsp;
	<form wicket:id="PhenoDataSetCollectionListForm">
		<div class="listPanelBorder">
			<div wicket:id="dataViewListWMC">
				<table width="0%" cellspacing="0">
				</table>
				<table width="100%" cellspacing="0" class="dataview" border="0">
					<!-- Header row -->
					<thead>
						<tr>
							<th width="2%">
								&nbsp;
							</th>
							<th width="10%">
								<wicket:message	key="phenoDataSetCollection.id">
									[ID:]
								</wicket:message>
							</th>
							<th width="15%">
								<wicket:message	key="phenoDataSetCollection.questionnaire">
									[Questionnaire:]
								</wicket:message>
							</th>
							<!--  
							<th width="15%">
								<wicket:message	key="PhenoCollection.name">
									[Collection Name:]
								</wicket:message>
							</th>
							-->
							<th width="22%">
								<wicket:message	key="phenoDataSetCollection.description">
									[Description:]
								</wicket:message>
							</th>
							<th width="16%">
								<wicket:message	key="phenoDataSetCollection.status">
									[Status:]
								</wicket:message>
							</th>
							<th width="10%">
								<wicket:message	key="phenoDataSetCollection.recordDate">
									[Record Date:]
								</wicket:message>
							</th>
							<th width="10%">
								<wicket:message	key="phenoDataSetCollection.reviewedDate">
									[Reviewed Date:]
								</wicket:message>
							</th>
							<th width="2%">
								&nbsp;
							</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td width="2%">
								&nbsp;
							</td>
							<td width="96%" colspan="6">
								<span wicket:id="navigator" class="a">
								</span>
							</td>
							<td width="2%">
								&nbsp;
							</td>
						</tr>
					</tfoot>
					<tbody>
						<!-- Repeated item row -->
						<tr wicket:id="PhenoDataSetCollectionList">
							<td width="2%">
								&nbsp;
							</td>
							<td width="10%">
								<span wicket:id="phenoDataSetCollection.id">
								</span>
							</td>
							<td width="15%">
								<a href="#" wicket:id="link">
									<span wicket:id="phenoDataSetCollection.questionnaire">
									</span>
								</a>
							</td>
							<!--  
							<td width="15%">
								<span wicket:id="PhenoCollection.name">
								</span>
							</td>
							-->
							<td width="22%">
								<span wicket:id="phenoDataSetCollection.description">
								</span>
							</td>
							<td width="14%">
								<span wicket:id="phenoDataSetCollection.status">
								</span>
							</td>
							<td width="10%">
								<span wicket:id="phenoDataSetCollection.recordDate">
								</span>
							</td>
							<td width="10%">
								<span wicket:id="phenoDataSetCollection.reviewedDate">
								</span>
							</td>
							<td width="2%">
								&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
				<table width="0%" cellspacing="0">
				</table>
			</div>
			<!-- New button row -->
			<div class="buttons">
				<input wicket:id="new" type="submit" wicket:message="value:page.new" />
			</div>
			<!--	End listDetailsPanelBorder -->

			<!--	The detailModalWindow for detail edit/add from listPanel -->
			<div wicket:id="detailModalWindow">
			</div>
			<div class="detailPanel">
				<table width="100%" cellspacing="0" class="buttonview" border="0">
					<!-- Header row -->
					<tr>
						<th width="2%">
							&nbsp;
						</th>
						<th width="10%">
							<select wicket:id="pheDataSetGroupSelected">[Pheno Field Group]</select>
						</th>
						<th width="10%">
							<div  wicket:id="categoryPanel">
							<select wicket:id="pickedPhenoDataSetCategory">[Pheno Field Categories]</select>
						</div>
						</th>
						<th width="10%">
							<div class="buttons">	
								<input wicket:id="getData" type="submit" wicket:message="value:getData" />
							</div>
						</th>
						<th width="10%">
							&nbsp;
						</th>
					</tr>
					<tbody>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
				<div class="detailPanelBreaker">
				</div>
				<div wicket:id="phenoDataView" class="datatable">
					[phenoDataView]
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
