<wicket:panel>
	&nbsp;
	<form wicket:id="addressDetailsForm">
		<div class="detailsPanelBorder">
			 <div wicket:id="addressDetailFormContainer"> 
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="buildingName">
						Building:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.addressLineOne"	type="text" />
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="address.source">
						Source:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.source" type="text"	maxlength="255" />
				</div>


				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<!--	Row 2 -->
				<div class="fldLabel">
					<wicket:message key="street.address">
						Street Address:
					</wicket:message>
					
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.streetAddress"	type="text" />
					
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="address.preferredMailingAddress">
						Preferred Mailing address:
					</wicket:message>
					<div class="note">
						<wicket:message key="address.preferredMailingAddress.note">
							[Note]
						</wicket:message>
					</div>
				</div>

				<div class="fldControl">
					<input type="checkbox" wicket:id="addressVo.address.preferredMailingAddress" />
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="city">
						City:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.city"	type="text" />
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="addressType">
						Address Type:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="addressVo.address.addressType">
						<option>
							Work
						</option>
						<option>
							Home
						</option>
					</select>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="state">
						State:
					</wicket:message>
					
				</div>

				<div class="fldControl">
					<div wicket:id="stateSelector">
						<select wicket:id="addressVo.address.state">
							<option>
								WA
							</option>
						</select>
						<input wicket:id="addressVo.address.otherState"/>
						<span wicket:id="addressVo.address.otherStateInvalidError"></span>
					</div>
					
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="addressStatus">
						Address Status:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="addressVo.address.addressStatus">
						<option>
							Work
						</option>
						<option>
							Home
						</option>
					</select>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="postcode">
						Post Code:
					</wicket:message>
					
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.postCode"	type="text" />
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="address.dateReceived">
						Date Received:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.dateReceived" type="text"	maxlength="10" />
				</div>
				
				<!-- valid from field add on 2015-10-06(ARK-1498) -->
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="validFrom">
						Valid from:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.validFrom" type="text"	maxlength="10" />
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="validTo">
						Valid to:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="addressVo.address.validTo" type="text"  maxlength="10" />
				</div>
				<!--end of valid from field add on 2015-10-06(ARK-1498) -->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="country">
						Country:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="addressVo.address.country" width="150" style="width: 150px">
						<option>
							Australia
						</option>
						<option>
							United Kingdom
						</option>
					</select>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="address.comments">
						Comments:
					</wicket:message>
				</div>

				<div class="fldControl">
					<textarea wicket:id="addressVo.address.comments" maxlength="255" cols="25">
					</textarea>
				</div>
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			</div>

			<!--	Row 2 Action Buttons -->
			<div wicket:id="addressEditButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
					<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
				</div>
			</div>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		</div>
	</form>
</wicket:panel>
