<wicket:panel>
	&nbsp;
	<form wicket:id="phoneDetailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="phoneDetailFormContainer"> 
				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<!--	Row 1 -->
				<div class="fldLabel">
					<div class="label">
						<label for="phoneID">
							<label for="phoneID">
								<wicket:message key="phoneId">
									phId:
								</wicket:message>
							</label>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="phoneVo.phone.id" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="phoneNumber">
							<label for="phoneType">
								<wicket:message key="phoneType">
									Phone Type:
								</wicket:message>
							</label>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<select wicket:id="phoneVo.phone.phoneType">
							<option>
								iPhone
							</option>
							<option>
								Mobile
							</option>
						</select>
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<div class="label">
						<label for="areaCode">
							<label for="areaCode">
								<wicket:message key="areaCode">
									Area Code:
								</wicket:message>
							</label>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="phoneVo.phone.areaCode" type="text" maxlength="10"/>
					</div>
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="phone.preferredPhoneNumber">
						Preferred Phone Number:
					</wicket:message>
					<div class="note">
						<wicket:message key="phone.preferredPhoneNumber.note">
							[Note]
						</wicket:message>
					</div>
				</div>

				<div class="fldControl">
					<input type="checkbox" wicket:id="phoneVo.phone.preferredPhoneNumber" />
				</div>
				
				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<wicket:message	key="phoneNumber">
							Number:
						</wicket:message>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="phoneVo.phone.phoneNumber" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<!--	wmc-areaCode is a WebMarkupContainer to allow updates to areaCode textfield -->
				<!--<div wicket:id="wmc-areaCode"> -->
				<div class="fldLabel">
					<div class="label">
						<label for="phoneStatus">
							<wicket:message key="phoneStatus">
								Phone Status:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="phoneVo.phone.phoneStatus">
							<option>
								Current
							</option>
						</select>
					</div>
				</div>
				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<wicket:message	key="source">
							Source:
						</wicket:message>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="phoneVo.phone.source" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="dateRecieved">
							<wicket:message key="dateReceived">
								Date Received:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="phoneVo.phone.dateReceived" type="text"	maxlength="10" />
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<wicket:message	key="silentMode">
							Silent Mode:
						</wicket:message>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<select wicket:id="phoneVo.phone.silentMode">
							<option>
								Yes
							</option>
						</select>
					</div>
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						&nbsp;
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
				<!-- valid from field add on 2015-10-06(ARK-1498) -->
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="validFrom">
						Valid from:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="phoneVo.phone.validFrom" type="text"	maxlength="10" />
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="validTo">
						Valid to:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="phoneVo.phone.validTo" type="text"  maxlength="10" />
				</div>
				<!--end of valid from field add on 2015-10-06(ARK-1498) -->
				

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="comment">
							<wicket:message key="comment">
								Comment:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<textarea wicket:id="phoneVo.phone.comment" maxlength="1000" cols="25">
						</textarea>
					</div>
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						&nbsp;
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			</div>

			<!--	Row 2 Action Buttons -->
			<div wicket:id="phoneEditButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
					<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
