<wicket:panel>
	&nbsp;
	<div class="detailsPanelBorder">
	<form wicket:id="userDetailsForm">
		
			<div class="detailPanelBreaker">
				&nbsp;
			</div>

			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="fldLabel">
				<div class="label">
					<label for="userName">
						<wicket:message key="userNameKey">
							User Name:
						</wicket:message>
						<div class="note">
							<wicket:message	key="userNameKey.note">
								[Note replaced from properties]
							</wicket:message>
						</div>
					</label>
				</div>
			</div>

			<div class="fldControl">
				<div class="label">
					<input wicket:id="userName"	type="text" size="25"/>
				</div>
			</div>

			<div class="panelMargin">
				&nbsp;
			</div>

			<div class="fldLabel">
				<div class="label">
					<label for="email">
						<wicket:message key="emailKey">
							Email:
						</wicket:message>
						<div class="note">
							<wicket:message	key="emailKey.note">
								[Note replaced from properties]
							</wicket:message>
						</div>
					</label>
				</div>
			</div>

			<div class="fldControl">
				<div class="email">
					<input wicket:id="email" type="text" size="25" />
				</div>
			</div>

			<div class="detailPanelContentRight">
				&nbsp;
			</div>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>

			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="fldLabel">
				<div class="label">
					<label for="firstName">
						<wicket:message key="firstNameKey">
							First Name:
						</wicket:message>
					</label>
				</div>
			</div>

			<div class="fldControl">
				<div class="label">
					<input wicket:id="firstName" type="text" />
				</div>
			</div>

			<div class="panelMargin">
				&nbsp;
			</div>

			<div class="fldLabel">
				<div class="label">
					<label for="lastName">
						<wicket:message key="lastNameKey">
							Last Name:
						</wicket:message>
					</label>
				</div>
			</div>

			<div class="fldControl">
				<div class="label">
					<input wicket:id="lastName"	type="text" />
				</div>
			</div>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>

			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div wicket:id="groupPasswordContainer">
				<div class="fldLabel">
					<div class="label">
						<label for="password">
							<wicket:message key="passwordKey">
								New Password:
							</wicket:message>
							<div class="note">
								<wicket:message	key="passwordKey.note">
									[Note replaced from properties]
								</wicket:message>
							</div>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="password"	type="password" maxlength="20"/>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="confirmPassword">
							<wicket:message key="confirmPasswordKey">
								Confirm New Password:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="confirmPassword"	type="password" maxlength="20"/>
					</div>
				</div>
			</div>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>

			<div wicket:id="shibbolethSession">
				<div class="fldLabel">
					AAF Session Details:
				</div>
				<iframe wicket:id="shibbolethSessionDetails" width="100%" height="300px">
					[shibboleth session details]
				</iframe>
			</div>
			
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
			
			<div class="panelMargin">
					&nbsp;
			</div>
			
			<div class="fldLabel">
				<h3><wicket:message key="userConfig"></wicket:message></h3>
			</div>

			<table width="0%" cellspacing="0">
			</table>
			<table width="100%" cellspacing="0" class="dataview" border="0">
				<tr>
					<th width="2%"></th>
					<th width="48%">Field</th>
					<th width="48%">Value</th>
					<th width="2%"></th>
				</tr>
				<tr wicket:id="arkUserConfigs">
					<td width="2%"></td>
					<td width="48%"><span wicket:id="configField.description"></span></td>
					<td width="48%"><input wicket:id="value"/></td>
					<td width="2%"></td>
				</tr>
				<tfoot>
					<td width="2%"></td>
					<td width="96%" colspan="2">
						<!-- <span wicket:id="config_navigator" class="a">
							[navigator]
						</span> -->
					</td>
					<td width="2%"></td>
				</tfoot>
			</table>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>
			
			
			<!-- All the studies for the user -->
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="fldLabel">
				<div class="label">
					<label for="userName">
						<wicket:message key="study.name">
							User Name:
						</wicket:message>
					</label>
				</div>
			</div>

			<div class="fldControl">
				<div class="label">
					<select wicket:id="studyLst">
		       				<option>study</option>
			   			</select>
				</div>
			</div>
			<!-- End of All the studies for the user -->
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
			<table width="0%" cellspacing="0">
			</table>
			<div  wicket:id="listViewPanel">
				<table width="100%" cellspacing="0" class="dataview" border="0">
					<tr>
						<th width="2%">
							&nbsp;
						</th>
						<!-- <th width="26%">
							<label for="studyName">
								<wicket:message key="study.name">
									Study:
								</wicket:message>
							</label>
						</th> -->
						<th width="25%">
							<label for="moduleName">
								<wicket:message key="module.name">
									Module:
								</wicket:message>
							</label>
						</th>
						<th width="25%">
							<label for="roleName">
								<wicket:message key="role.name">
									Role:
								</wicket:message>
							</label>
						</th>
						<th width="26%">
							<label for="functionName">
								<wicket:message key="function.name">
									Function:
								</wicket:message>
							</label>
						</th>
						<th width="5%" style="text-align:center">
							<label for="create">
								<wicket:message key="create">
									Create:
								</wicket:message>
							</label>
						</th>
						<th width="5%" style="text-align:center">
							<label for="read">
								<wicket:message key="read">
									Read:
								</wicket:message>
							</label>
						</th>
						<th width="5%" style="text-align:center">
							<label for="update">
								<wicket:message key="update">
									Update:
								</wicket:message>
							</label>
						</th>
						<th width="5%" style="text-align:center">
							<label for="delete">
								<wicket:message key="delete">
									Delete:
								</wicket:message>
							</label>
						</th>
						<th width="2%">
							&nbsp;
						</th>
					</tr>
					<tr wicket:id="arkRolePolicyTemplatesList">
						<td width="2%">
							&nbsp;
						</td>
						<!-- <td width="26%">
							<b>
								<span wicket:id="studyName">
									Study Name
								</span>
							</b> 
						</td> -->
						<td width="25%">
							<span wicket:id="moduleName">
								Module Name
							</span>
						</td>
						<td width="25%">
							<span wicket:id="roleName">
								Role Name
							</span>
						</td>
						<td width="25%">
							<span wicket:id="functionName">
								Function Name
							</span>
						</td>
						<td align="center" width="5%">
							<img wicket:id="arkCreatePermission"/>
						</td>
						<td align="center" width="5%">
							<img wicket:id="arkReadPermission"/>
						</td>
						<td align="center" width="5%">
							<img wicket:id="arkUpdatePermission"/>
						</td>
						<td align="center" width="5%">
							<img wicket:id="arkDeletePermission"/>
						</td>
						<td width="2%">
							&nbsp;
						</td>
					</tr>
					<tr>
						<td width="2%">
							&nbsp;
						</td>
						<td width="96%" colspan="7">
							<span wicket:id="navigator" class="a">
								[navigator]
							</span>
						</td>
						<td width="2%">
							&nbsp;
						</td>
					</tr>
				</table>
			</div> 
			<!-- end of the list view panel -->
			<table width="0%" cellspacing="0">
			</table>


			<div class="actionButtons">
				<input wicket:id="save" type="submit" wicket:message="value:page.save" />
				<input wicket:id="close" type="submit" wicket:message="value:page.close" />
			</div>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		
	</form>
	&nbsp;
	</div>
</wicket:panel>