<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
	<table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="20%">
				<wicket:message key="ARK_SESSION_ID">SessionID</wicket:message>
			</th>
			<th width="20%">
				<wicket:message key="ARK_USERID">UserId</wicket:message>
			</th>
			<th width="20%">
				<wicket:message key="ARK_USER_NAME">UserName</wicket:message>
			</th>
			<th width="10%">
				<wicket:message key="ARK_HOST">Host:</wicket:message>
			</th>
			<th width="10%">
				<wicket:message key="ARK_SESSION_START_TIMESTAMP">Started:</wicket:message>
			</th>
			<th width="10%">
				<wicket:message key="ARK_SESSION_LAST_ACCESS_TIME">Last Accessed:</wicket:message>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<tr wicket:id="list">
			<td width="2%">
				&nbsp;
			</td>
			<td width="20%">
				<span wicket:id="ARK_SESSION_ID">SessionID</span>
			</td>
			<td width="20%">
				<span wicket:id="ARK_USERID">UserID</span>
			</td>
			<td width="20%">
				<span wicket:id="ARK_USER_NAME">UserName</span>
			</td>
			<td width="10%">
				<span wicket:id="ARK_HOST">Host</span>
			</td>
			<td width="10%">
				<span wicket:id="ARK_SESSION_START_TIMESTAMP">Started</span>
			</td>
			<td width="10%">
				<span wicket:id="ARK_SESSION_LAST_ACCESS_TIME">Last accessed</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tfoot>
			<tr>
				<td width="2%">
					&nbsp;
				</td>
				<td width="96%" colspan="5">
					<span wicket:id="navigator" class="a">
					</span>
				</td>
				<td width="2%">
					&nbsp;
				</td>
				<td width="2%">
					&nbsp;
				</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>