<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
		  <div wicket:id="detailFormContainer">
			<div class="detailPanelBreaker">&nbsp;</div>
			
			<!-- Row 1 Study ID and Name-->
			
			<div class="panelContentLeft">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					<label for="study.component.id">
						<wicket:message key="study.calendar.id">Component Id:</wicket:message>
					</label>
				</div>
			</div>
			<div class="fldControl">
				<div class="label">
					<input wicket:id="studyCalendar.id" type="text" />
				</div>
			</div>
			
			<div class="panelMargin">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					<label for="componentName"><wicket:message	key="study.calendar.name">Name:</wicket:message></label>
				</div>
			</div>
			<div class="fldControl">
				<div class="label">
					<input wicket:id="studyCalendar.name" type="text" /> 
				</div>
			</div>
			
			
		
			<div class="detailPanelBreaker">&nbsp;</div>
			
			
			<div class="panelContentLeft">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					<label for="studyKey">
						<wicket:message key="study.calendar.description">Description:</wicket:message>
					</label>
				</div>
			</div>
			<div class="fldControl">
				<div class="label">
					<textarea wicket:id="studyCalendar.description" cols="25"></textarea> 
				</div>
			</div>
			
			<div class="panelMargin">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					<label for="componentKeyword"><wicket:message	key="study.calendar.studycomponent">Keyword:</wicket:message></label> 
				</div>
			</div>
			<div class="fldControl">
				<div class="label" >
					<select wicket:id="studyCalendar.studyComp">
							<option>
								A
							</option>
							<option>
								B
							</option>
						</select> 
				</div>
			</div>
					
			<div class="detailPanelBreaker">&nbsp;</div>

			<div class="panelContentLeft">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					<label for="studyKey">
						<wicket:message key="study.calendar.startdate">Description:</wicket:message>
					</label>
				</div>
			</div>
			<div class="fldControl">
				<div class="label">
					<input wicket:id="studyCalendar.startDate"	type="text" maxlength="10"/>
				</div>
			</div>
			
			<div class="panelMargin">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					<label for="componentKeyword"><wicket:message	key="study.calendar.enddate">Keyword:</wicket:message></label> 
				</div>
			</div>
			<div class="fldControl">
				<div class="label" >
					<input wicket:id="studyCalendar.endDate"	type="text" maxlength="10"/>
				</div>
			</div>
					
			<div class="detailPanelBreaker">&nbsp;</div>
			
			<div class="panelContentLeft">&nbsp;</div>
			
			<div class="fldLabel">
					<div class="label">
						<label for="customFieldPalette">
							<wicket:message	key="custom.fields">
								Custom Fields:
							</wicket:message>
							<span wicket:id="selectedCustomFields">
								[Palette]
							</span>
						</label>
					</div>
				</div>
				
				<div class="fldControl">
					&nbsp;
				</div>
			
			<div class="panelMargin">&nbsp;</div>
			
			<div class="fldLabel">
				<div class="label">
					 
				</div>
			</div>
			<div class="fldControl">
				<div class="label" >
					
				</div>
			</div>
					
			<div class="detailPanelBreaker">&nbsp;</div>
			
				
			</div>
			
			<!--  Row 2 Action Buttons -->
			
			<div wicket:id="editButtonContainer">
				<div class="fldLabel">&nbsp;</div>
				<div class="fldControl">&nbsp;</div>
				<div class="panelMargin">&nbsp;</div>
				<div class="actionButtons">&nbsp;
					<div class="label">
					  <input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
					  <div class="panelMargin">&nbsp;</div>
					  <input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />&nbsp;
					  <div class="panelMargin">&nbsp;</div>
					  <input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
				  	</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
